<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ViewRecords</servlet-name>
        <servlet-class>medical_records.ViewRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditMedication</servlet-name>
        <servlet-class>medical_records.EditMedication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nurseRecords</servlet-name>
        <servlet-class>medical_records.nurseRecords</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePolicy</servlet-name>
        <servlet-class>medical_records.DeletePolicy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delegatePolicy</servlet-name>
        <servlet-class>medical_records.delegatePolicy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRecords</servlet-name>
        <url-pattern>/ViewRecords</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>patientMedicalHistory</servlet-name>
        <servlet-class>medical_records.patientMedicalHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>patientMedicalHistory</servlet-name>
        <url-pattern>/patientMedicalHistory/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteData</servlet-name>
        <servlet-class>medical_records.DeleteData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteData</servlet-name>
        <url-pattern>/DeleteData/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditMedication</servlet-name>
        <url-pattern>/EditMedication/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nurseRecords</servlet-name>
        <url-pattern>/nurseRecords</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePolicy</servlet-name>
        <url-pattern>/DeletePolicy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delegatePolicy</servlet-name>
        <url-pattern>/delegatePolicy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
